.home {
	left: 50%;
}

#map {
	width: 95%;
	height: 50vh;
}

.file-upload {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: auto;
	margin-top: 1.5rem;
}

.file-upload-btn {
	outline: none;
	width: 10rem;
	margin: 0;
	padding: 10px;
	transition: all 0.2s ease;
	background: #0070dd;
	border: none;
	border-radius: 4px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.file-upload-btn:hover {
	transition: all 0.2s ease;
	background: #20d273;
	cursor: pointer;
	color: #fff;
}

.file-upload-btn:active {
	transition: all 0.2s ease;
	border: 0;
}

.file-upload-content {
	display: none;
	text-align: center;
}

.file-upload-input {
	outline: none;
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.content-upload-wrap {
	position: relative;
	margin-top: 1.5rem;
	padding: 2rem;
	cursor: pointer;
	border: 4px dashed darkgray;
}

.content-dropping,
.content-upload-wrap:hover {
	background-color: #fff;
	border: 4px dashed darkgray;
}

.content-title-wrap {
	padding: 0 15px 15px 15px;
	color: #222;
}

.drag-text {
	text-align: center;
}

.drag-text h3 {
	padding: 60px 0;
	font-size: larger;
	color: #666;
	text-transform: uppercase;
}

.file-upload-content {
	max-width: 200px;
	max-height: 200px;
	margin: auto;
	padding: 20px;
}

.remove-content {
	outline: none;
	width: 200px;
	margin: 0;
	padding: 10px;
	transition: all 0.2s ease;
	background: #cd4535;
	border: none;
	border-bottom: 4px solid #b02818;
	border-radius: 4px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.remove-content:hover {
	transition: all 0.2s ease;
	background: #c13b2a;
	cursor: pointer;
	color: #fff;
}

.remove-content:active {
	transition: all 0.2s ease;
	border: 0;
}

@media screen and (max-width: 850px) {
	.file-upload-btn {
		width: 10rem;
	}
}
