.container {

}

#progressBar {
	background-color: #d9c2fb;
	margin: 1rem 5rem;
}

#progressBar > div {
	background-color: #6200ee;
	width: 2%;
	height: .5rem;
}

.mb-3 {
	margin: 0 2rem 0 !important
}

.subtext {
	font-size: small;
	text-align: start;
	margin: 0 2rem 0 2.75rem !important
}
