.navbar-container {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0.5rem;
	left: 50%;
	transform: translate(-50%);
	width: 95%;
	height: 4.5rem;
	padding: 0 30px;
	background-color: #0070dd;
	border-radius: 13px;
	font-size: 1.2rem;
}

.logo {
	margin: 0;
	cursor: pointer;
}

.logo a {
	color: #fff;
	text-decoration: none;
}

.fa-react {
	margin-right: 0.4rem;
}

.nav-menu {
	display: grid;
	justify-content: end;
	align-items: center;
	grid-template-columns: repeat(6, auto);
	grid-gap: 10px;
	margin-bottom: 0;
	text-align: center;
	list-style: none;
}

.nav-links {
	padding: 0.7rem 1rem;
	color: #fff;
	text-decoration: none;
	white-space: nowrap;
}

.nav-links i {
	padding-right: 10px;
}

.nav-links:hover {
	transition: all 0.2s ease-in-out;
	background: rgb(256, 192, 80);
	border-radius: 4px;
}

.fa-bars,
.fa-times {
	color: #fff;
}

.menu-icons {
	display: none;
}

.nav-links-mobile {
	padding: 0.5rem 1rem;
	background-color: #fafafa;
	border-radius: 3px;
	font-size: 1rem;
	font-weight: bold;
	color: #222;
	text-decoration: none;
	white-space: nowrap;
}

.nav-links-mobile:hover {
	transition: all 0.2s ease;
	background: #20d273;
	cursor: pointer;
	color: #fff;
}

@media screen and (max-width: 876px) {
	.nabar-items {
		z-index: 99;
	}

	.nav-menu {
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(4px);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		position: absolute;
		z-index: -1;
		top: 0;
		left: -110%;
		width: 100%;
		height: auto;
		margin: 0;
		padding: 80px 0 30px 0;
		transition: 0.3s ease-in-out;
		background-color: #0070dd;
		border-radius: 13px;
	}

	.nav-menu.active {
		left: 0%;
	}

	.nav-links {
		display: block;
		width: 100%;
		padding: 2rem 0;
		color: #fff;
	}

	.nav-links:hover {
		backdrop-filter: blur(20px);
		background: rgba(255, 255, 255, 0.25);
	}

	.menu-icons {
		display: block;
	}

	.nav-links-mobile {
		display: block;
		width: 80%;
		margin: auto;
		padding: 1.5rem;
		font-size: 1.3rem;
		font-weight: bold;
		text-align: center;
	}
}
