h6 {
	margin: 3vh 0 1vh 0;
	font-weight: bold;
}

.mb-3 {
	margin: 0 5vw !important;
}

.requirements {
	margin: 1.5vh 6vw 0.6vh;
	font-size: small;
	text-align: start;
}

#email,
#confirmPassword {
	margin-top: 1rem;
}

.btn {
	width: 45vw;
	margin: 4vh 0 2vh;
	border-color: gray;
	color: #6200ee;
	font-size: larger;
}

.button2 {
	width: 45vw;
	margin: 4vh 0 2vh;
	border-color: gray;
	font-size: larger;
}
